<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <title>{% block title %}TestFormStep{% endblock %}</title>
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets '@TestFormStepBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
{% block variableJs %}{% endblock %}
{% block javascript %}
    {% javascripts '@TestFormStepBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
